In [1]:
# Import dependencies

import pandas as pd
import csv
import numpy as np
import os

In [6]:
# June 2022 bike trip data
bikes_2022 = pd.read_csv("./Data/JC-202206-citibike-tripdata.csv")
bikes_2022.head()

# Get the columns we are going to use
bikes_2022 = bikes_2022[['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', \
    'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']]
bikes_2022.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EEA3CD3B084370F4,classic_bike,2022-06-30 19:17:16,2022-06-30 19:27:13,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual
1,BF568C9B3C5FAE94,classic_bike,2022-06-02 12:46:44,2022-06-02 15:08:33,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual
2,DF6B06D460481A7E,classic_bike,2022-06-05 14:17:34,2022-06-05 14:27:12,Clinton St & Newark St,HB409,Grand St & 14 St,HB506,40.737430,-74.035710,40.754090,-74.031600,casual
3,A26CDB92CDF7E0EE,electric_bike,2022-06-01 18:57:12,2022-06-01 19:05:58,Clinton St & Newark St,HB409,Pershing Field,JC024,40.737430,-74.035710,40.742677,-74.051789,member
4,A2A50E81031E9E7F,electric_bike,2022-06-14 22:45:53,2022-06-14 22:49:39,Oakland Ave,JC022,Pershing Field,JC024,40.737604,-74.052478,40.742677,-74.051789,member

In [7]:
# June 2021 bike trip data
bikes_2021 = pd.read_csv("./Data/JC-202106-citibike-tripdata.csv")
bikes_2021.head()

# Get the columns we are going to use.
bikes_2021 = bikes_2021[['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', \
    'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']]

bikes_2021.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7830EBE775F2EE25,classic_bike,2021-06-21 07:38:42,2021-06-21 10:49:25,Dixon Mills,JC076,NaN,NaN,40.721630,-74.049968,NaN,NaN,member
1,629A3BFD50BF8392,docked_bike,2021-06-12 10:25:01,2021-06-12 10:35:11,Dixon Mills,JC076,Journal Square,JC103,40.721630,-74.049967,40.733670,-74.062500,member
2,CF02EC434989A99D,docked_bike,2021-06-07 14:52:05,2021-06-07 14:58:25,11 St & Washington St,HB502,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.749984,-74.027150,40.735938,-74.030305,member
3,E1BB8FED29AA5BA1,docked_bike,2021-06-07 08:29:19,2021-06-07 08:34:17,8 St & Washington St,HB603,Hoboken Terminal - Hudson St & Hudson Pl,HB101,40.745983,-74.028199,40.735938,-74.030305,casual
4,787C59EE76D96BCA,docked_bike,2021-06-18 14:16:27,2021-06-18 14:26:26,11 St & Washington St,HB502,Columbus Park - Clinton St & 9 St,HB501,40.749984,-74.027150,40.748161,-74.032453,member

In [8]:
# June 2020 bike trip data
bikes_2020 = pd.read_csv("./Data/JC-202006-citibike-tripdata.csv")

# Get the columns we are going to use.
bikes_2020 = bikes_2020[['start station id', 'starttime', 'stoptime', 'start station name', 'start station latitude', 'start station longitude', 'end station id', \
    'end station name', 'end station latitude', 'end station longitude', 'usertype']]

bikes_2020 = bikes_2020.rename(columns={
    'start station id':'start_station_id',
    'start station name':'start_station_name',
    'start station latitude':'start_lat',
    'start station longitude':'start_lng',
    'end station id':'end_station_id',
    'end station name':'end_station_name',
    'end station latitude':'end_lat',
    'end station longitude':'end_lng',
    'usertype':'member_casual',
    'starttime':'started_at',
    'stoptime':'ended_at'
})

# Add row_num
bikes_2020['ride_id'] = np.arange(len(bikes_2020))
bikes_2020['rideable_type'] = 'bike'

# Arrange the columns with the other csv files before concatenating.
bikes_2020 = bikes_2020[['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', \
    'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']]
bikes_2020.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0,bike,2020-06-01 00:02:21.7500,2020-06-01 00:04:24.3250,Columbus Dr at Exchange Pl,3792,Harborside,3639,40.716870,-74.032810,40.719252,-74.034234,Subscriber
1,1,bike,2020-06-01 00:12:27.1090,2020-06-01 00:33:50.0540,Heights Elevator,3198,Marin Light Rail,3276,40.748716,-74.040443,40.714584,-74.042817,Subscriber
2,2,bike,2020-06-01 01:19:59.2090,2020-06-01 01:23:05.8930,Columbus Drive,3275,Grand St,3681,40.718355,-74.038914,40.715178,-74.037683,Subscriber
3,3,bike,2020-06-01 01:26:42.2050,2020-06-01 01:28:53.8040,Morris Canal,3267,Grand St,3681,40.712419,-74.038526,40.715178,-74.037683,Subscriber
4,4,bike,2020-06-01 01:27:33.7090,2020-06-01 01:32:00.1890,Harborside,3639,Grove St PATH,3186,40.719252,-74.034234,40.719586,-74.043117,Subscriber

In [23]:
bikes_2022 = bikes_2022.copy()
bikes_2021 = bikes_2021.copy()
bikes_2020 = bikes_2020.copy()

bike_activity = pd.concat([bikes_2022, bikes_2021, bikes_2020], ignore_index=True)
bike_activity['ride_date'] = bike_activity['started_at']

# Drop NaN values from dataframe.
bike_activity = bike_activity.dropna()

# Push dataframe to csv file for Tableau
bike_activity.to_csv("./Data/bike_activity.csv")